
@{
    ViewBag.Title = "Events";
}

<section class="row photoHeader titularRow">
    
</section>
<section class="row">
    <section class="col-xs-12 col-xs-push-2">
        <hgroup>
            <h2>Events</h2>
            <h3>Pitches and Notes</h3>
        </hgroup>
    </section>
</section>


