
@{
    ViewBag.Title = "Members";
}

<section class="titularRow photoHeader">
    <div class="row">

    </div>
</section>
<section class="row">
    <section class="col-xs-4 col-xs-push-2">
        <hgroup>
            <h2>Current Members</h2>
        </hgroup>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="/Content/headshots/sDenton.jpg" class="img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Sarah Denton</h4>
                    <h5><i>President</i></h5>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Note</p>
                    <p><strong>Hometown: </strong>Evanston, Il</p>
                    <p><strong>Year in School? </strong>Senior</p>
                    <p><strong>Major: </strong>Human Development and Family Studies</p>
                    <p><strong>Favorite Musical Artist: </strong>Coldplay</p>
                    <p><strong>Something on your bucket list? </strong>To go skydiving!</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="/Content/headshots/cHietpas.jpg" class="img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Claire Hietpas</h4>
                    <h5><i>Co-Music Director</i></h5>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Note</p>
                    <p><strong>Hometown: </strong>Waukesha, Wi</p>
                    <p><strong>Year in School? </strong>Sophomore</p>
                    <p><strong>Major: </strong>I have no idea</p>
                    <p><strong>Favorite Musical Artist: </strong>Matt Nathanson and obviously Pentatonix</p>
                    <p><strong>Something on your bucket list? </strong>Live in Europe at some point...again</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/kPulera.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Kelsey Pulera</h4>
                    <h5><i>Co-Music Director</i></h5>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Definitely a Pitch</p>
                    <p><strong>Hometown: </strong>Racine, Wi</p>
                    <p><strong>Year in School? </strong>Sophomore</p>
                    <p><strong>Major: </strong>Undecided</p>
                    <p><strong>Favorite Musical Artist: </strong>Bon Iver</p>
                    <p><strong>Something on your bucket list? </strong>I want to backpack through Europe. Sorry for being so cliche.</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/lDalzin.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Lauren Dalzin</h4>
                    <h5><i>Buisness Manager</i></h5>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Ahhh I don't know? My mom says I can be pitchy in the mornings.</p>
                    <p><strong>Hometown: </strong>Whitewater, Wi</p>
                    <p><strong>Year in School? </strong>Senior</p>
                    <p><strong>Major: </strong>Human Development and Family Studies</p>
                    <p><strong>Favorite Musical Artist: </strong>Coldplay, Fun., John Legend, Ellie Goulding, Michael Bublem and Beyonce (duh)</p>
                    <p><strong>Something on your bucket list? </strong>To go on an African Safari</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/sWeintraub.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Sylvie Weintraub</h4>
                    <h5><i>Social Media and Public Relations</i></h5>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>The Golden Nitch</p>
                    <p><strong>Hometown: </strong>Duluth, Mn</p>
                    <p><strong>Year in School? </strong>Junior</p>
                    <p><strong>Major: </strong>Industrial Engineering and Economics</p>
                    <p><strong>Favorite Musical Artist: </strong>Ed Sheeran</p>
                    <p><strong>Something on your bucket list? </strong>Be Beyonce</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/aApplequist.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Amanda Applequist</h4>
                    <h5><i>Visual Media and Public Relations</i></h5>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Pitchy Note</p>
                    <p><strong>Hometown: </strong>Waukesha, Wi</p>
                    <p><strong>Year in School? </strong>Senior</p>
                    <p><strong>Major: </strong>Advertising</p>
                    <p><strong>Favorite Musical Artists: </strong>Avril Lavigne, Miley Cyrus, Chase Rice, Kip Moore, Luke Bryan, Andy Grammar, Blink-182, Yellowcard, Imagine Dragons, B.o.B, Christ Brown, Don Omar</p>
                    <p><strong>Something on your bucket list? </strong>Go to an aquarium at night after it has closed and adventure.</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/mTurnquist.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Maddie Turnquist</h4>
                    <h5><i>Social Chair</i></h5>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Notey Pitch</p>
                    <p><strong>Hometown: </strong>Madison, Wi</p>
                    <p><strong>Year in School? </strong>Senior</p>
                    <p><strong>Major: </strong>Undecided but leaning towards philosophy</p>
                    <p><strong>Favorite Musical Artist: </strong>John Legend and Maroon 5</p>
                    <p><strong>Something on your bucket list? </strong>Spin a globe and travel wherever my finger lands</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/sShibbelhut.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Sydney Shibbelhut</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Note</p>
                    <p><strong>Hometown: </strong>Fon Du Lac, Wi</p>
                    <p><strong>Year in School? </strong>Junior</p>
                    <p><strong>Major: </strong>Psychology</p>
                    <p><strong>Favorite Musical Artist: </strong>Beyonce, Katy Perry, Carrie Underwood…I love all music.</p>
                    <p><strong>Something on your bucket list? </strong>Travel anywhere outside of the country without an iternary.</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/aLawrence.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Abby Lawrence</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Pitch!</p>
                    <p><strong>Hometown: </strong>Edgerton, Wi</p>
                    <p><strong>Year in School? </strong>Junior</p>
                    <p><strong>Major: </strong>Microbiology</p>
                    <p><strong>Favorite Musical Artist: </strong>Beyonce and Adele</p>
                    <p><strong>Something on your bucket list? </strong>See the ocean (I know, pathetic that I haven’t seen it yet!)</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/kGibson.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Kimberly Gibson</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Pote</p>
                    <p><strong>Hometown: </strong>Racine, Wi</p>
                    <p><strong>Year in School? </strong>Junior</p>
                    <p><strong>Major: </strong>Undeclared, hopefully Special Education and Elementary dual major</p>
                    <p><strong>Favorite Musical Artist: </strong>Eli Young Band, Sam Smith, The Civil Wars, Bon Iver, Rascal Flatt, Sara Bareilles, Lady Antebellum, Goo Goo Dolls, Blake Shelton, Daughter, Ron Pope, Fink, Gabrielle Aplin, Noah Gundersen, Michael Buble, James Blake, Parachute, Vance Joy, Us the Duo, Iron and Wine, Christina Aguilera, Demi Lovato, James Arthur, Kip Moore…..</p>
                    <p><strong>Something on your bucket list? </strong>Give back to my parents</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/sTackas.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Sarah Tackas</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Note</p>
                    <p><strong>Hometown: </strong>Greendale, Wi</p>
                    <p><strong>Year in School? </strong>Junior</p>
                    <p><strong>Major: </strong>Actuarial Science and Marketing</p>
                    <p><strong>Favorite Musical Artist: </strong>Carrie Underwood, Taylor Swift, Luke Bryan, Sam Smith</p>
                    <p><strong>Something on your bucket list? </strong>I want to write a book someday!</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/kOvercamp.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Kelsey Overcamp</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Pitch</p>
                    <p><strong>Hometown: </strong>Waukesha, Wi</p>
                    <p><strong>Year in School? </strong>Junior</p>
                    <p><strong>Major: </strong>Industrial Engineering</p>
                    <p><strong>Favorite Musical Artist: </strong>Panic! at the Disco, The Beatles, Regina Spektor</p>
                    <p><strong>Something on your bucket list? </strong>Skydive!</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/eStover.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Emily Stover</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Pitch</p>
                    <p><strong>Hometown: </strong>Evanston, Il</p>
                    <p><strong>Year in School? </strong>Sophomore</p>
                    <p><strong>Major: </strong>Undecided</p>
                    <p><strong>Favorite Musical Artist: </strong>Alex Turner/Arctic Monkeys</p>
                    <p><strong>Something on your bucket list? </strong>Live in 3 centuries (104 years old)</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/aCorriveau.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Anna Corriveau</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Pitch</p>
                    <p><strong>Hometown: </strong>Green Bay, Wi</p>
                    <p><strong>Year in School? </strong>Sophomore</p>
                    <p><strong>Major: </strong>Undecided</p>
                    <p><strong>Favorite Musical Artists: </strong>Hozier</p>
                    <p><strong>Something on your bucket list? </strong>I want to run a full Marathon. Slowly.</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/bConnors.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Brenna Connors</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Depends on my mood</p>
                    <p><strong>Hometown: </strong>Lake Geneva, Wi</p>
                    <p><strong>Year in School? </strong>Sophomore</p>
                    <p><strong>Major: </strong>Very Undecided</p>
                    <p><strong>Favorite Musical Artist: </strong>The Lumineers, Umphrey’s McGee, Beyonce, Jack Johnson</p>
                    <p><strong>Something on your bucket list? </strong>To become fluent in Swedish</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/lCarroll.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Laena Carroll</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Pitch for Days</p>
                    <p><strong>Hometown: </strong>Hinsdale, Il</p>
                    <p><strong>Year in School? </strong>Sophomore</p>
                    <p><strong>Major: </strong>Journalism & Comm Arts</p>
                    <p><strong>Favorite Musical Artist: </strong>Sara Bareilles</p>
                    <p><strong>Something on your bucket list? </strong>I want to learn to like salad..it’s a life long struggle.</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/jGerlach.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Jordan Gerlach</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Born a pitch, but currently exploring my inner note</p>
                    <p><strong>Hometown: </strong>Monona, Wi</p>
                    <p><strong>Year in School? </strong>Freshman</p>
                    <p><strong>Major: </strong>Undecided</p>
                    <p><strong>Favorite Musical Artist: </strong>Beyonce</p>
                    <p><strong>Something on your bucket list? </strong>Travel to watch the summer olympics</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row even">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/sVandenHeuvel.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Sabrina VandenHeuvel</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Sabrina the Teenage Pitch, of course</p>
                    <p><strong>Hometown: </strong>Combined Locks, WI</p>
                    <p><strong>Year in School? </strong>Freshman</p>
                    <p><strong>Major: </strong>Biomedical Engineering</p>
                    <p><strong>Favorite Musical Artist: </strong>Ben Rector</p>
                    <p><strong>Something on your bucket list? </strong>Travel to Europe.</p>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row odd" style="border-bottom: none;">
    <section class="col-xs-6 col-md-push-2">
        <section class="row">
            <section class="col-xs-4">
                <img src="~/Content/transparent.jpg" data-original="/Content/headshots/lMei.jpg" class="lazy img-responsive" />
            </section>
            <section class="col-xs-8">
                <hgroup>
                    <h4>Linda Mei</h4>
                </hgroup>
                <section class="memInfo">
                    <p><strong>Pitch or Note? </strong>Note</p>
                    <p><strong>Hometown: </strong>Madison, Wi</p>
                    <p><strong>Year in School? </strong>Senior</p>
                    <p><strong>Major: </strong>Neurobiology</p>
                    <p><strong>Favorite Musical Artist: </strong>Tori Kelly, Leona Lewis, Ne-yo, Jojo, f(x), B2ST, Justin Timberlake</p>
                    <p><strong>Something on your bucket list? </strong>Roadtrip across the country</p>
                </section>
            </section>
        </section>
    </section>
</section>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".lazy").lazyload({
                effect: "fadeIn"
            });
        });       
    </script>

    }

